.container-payment {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all .2s linear; }

.container-payment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px; }

.container-payment form {
  padding: 20px;
  width: 700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }

.container-payment form .row-payment {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; }

.container-payment form .row-payment .col-payment {
  flex: 1 1 250px; }

.container-payment form .row-payment .col-payment .title-payment {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase; }

.container-payment form .row-payment .col-payment .inputBox-payment {
  margin: 15px 0; }

.container-payment form .row-payment .col-payment .inputBox-payment span {
  margin-bottom: 5px;
  display: block; }

.container-payment form .row-payment .col-payment .inputBox-payment input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none; }

.container-payment form .row-payment .col-payment .inputBox-payment input:focus {
  border: 1px solid #000; }

.container-payment form .row-payment .col-payment .flex {
  display: flex;
  gap: 15px; }

.container-payment form .row-payment .col-payment .flex .inputBox-payment {
  margin-top: 5px; }

.container-payment form .row-payment .col-payment .inputBox-payment img {
  height: 50px;
  margin-left: 10px; }

.container-payment form .submit-btn-payment {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: var(--primary);
  color: #fff;
  cursor: pointer; }
