<link rel="stylesheet" href="/css/alert.css" />

<!-- Modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="modal-message">Sản phẩm đã được thêm vào giỏ hàng!</p>
  </div>
</div>
<script>
  // Get the modal
  var modal = document.getElementById('myModal');

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName('close')[0];

  // Display the modal when the page loads
  window.onload = function () {
    modal.style.display = 'block';
  };

  // Close the modal when the user clicks on <span> (x)
  span.onclick = function () {
    modal.style.display = 'none';
  };

  // Close the modal when the user clicks anywhere outside the modal
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = 'none';
    }
  };

</script>