<div id="product" class="block-5 space-between-blocks">
  <div class="container">
    <!-- HEADER -->
    <div class="col-lg-8 col-xl-7 mx-auto text-center mb-5">
      <p class="block__pre-title mb-2">WHY CHOOSING US</p>
      <h1 class="block__title mb-3">
        Easy Process With
        <span class="highlight">Best Features</span>
      </h1>
      <p class="block__paragraph mb-0">
        Lorem Ipsum is simply perfect text of the printing and typesetting
        industry. Lorem Ipsum has been the industry’s standard
      </p>
    </div>
    <div class="row align-items-center flex-column-reverse flex-lg-row px-2">
      <!-- LEFT CONTENT -->
      <div class="col-lg-4">
        <div class="card-2 d-flex flex-row flex-lg-row-reverse">
          <div>
            <span class="card-2__symbol mx-auto">
              <i class="fas fa-heartbeat"></i>
            </span>
          </div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">Heart Rate Monitor</h3>
            <p class="card-2__paragraph">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </div>
        <div class="card-2 d-flex flex-row flex-lg-row-reverse">
          <div>
            <span class="card-2__symbol mx-auto">
              <i class="fas fa-briefcase-medical"></i>
            </span>
          </div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">Blood Pressure Manager</h3>
            <p class="card-2__paragraph">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </div>
        <div class="card-2 d-flex flex-row flex-lg-row-reverse">
          <div>
            <span class="card-2__symbol mx-auto">
              <i class="fas fa-bell"></i>
            </span>
          </div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">Alarm Alert</h3>
            <p class="card-2__paragraph">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </div>
      </div>
      <!-- IMAGE -->
      <div class="col-lg-4 my-5 text-center">
        <img src="/img/img-2.png" class="w-75" />
      </div>
      <!-- RIGHT CONTENT -->
      <div class="col-lg-4">
        <div class="card-2 d-flex">
          <div>
            <span class="card-2__symbol mx-auto">
              <i class="fas fa-map-marker-alt"></i>
            </span>
          </div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">Location Finder</h3>
            <p class="card-2__paragraph">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </div>
        <div class="card-2 d-flex">
          <div>
            <span class="card-2__symbol mx-auto">
              <i class="fas fa-fingerprint"></i>
            </span>
          </div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">Fingerprint Lock</h3>
            <p class="card-2__paragraph">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </div>
        <div class="card-2 d-flex">
          <div>
            <span class="card-2__symbol mx-auto">
              <i class="fas fa-mobile"></i>
            </span>
          </div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">Camera and Bluetooth</h3>
            <p class="card-2__paragraph">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ===================================== -->

<div id="other_product" class="block-5 space-between-blocks">
  <div class="container">
    <!-- HEADER -->
    <div class="row">
      <div class="col-lg-8 col-xl-7 mx-auto text-center mb-5">
        <!-- <p class="block__pre-title mb-2">WHY CHOOSING US</p> -->
        <h1 class="block__title mb-3">
          Other
          <span class="highlight">Products</span>
        </h1>
        <!-- <p class="block__paragraph mb-0">
  
            Lorem Ipsum is simply perfect text of the printing and typesetting industry. Lorem Ipsum has been the industry’s
            standard
          </p> -->
      </div>
    </div>

    <div
      id="carouselExampleAutoplaying"
      class="carousel slide"
      data-bs-ride="carousel"
      data-bs-interval="4000"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <h2 class="block__title mb-0 text-center">
              Mechanical
              <span class="highlight">Watch</span>
            </h2>
            <div class="row sp">
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div
                    onclick="window.location.href='http://localhost:7749/info1';"
                  >
                    <img
                      src="https://cdn2.jomashop.com/media/catalog/product/cache/df24c858758eb768757877f23cd17493/p/a/patek-philippe-grand-complications-perpetual-automatic-moon-phase-diamond-mens-watch-5304301r001.jpg?width=350&height=350"
                      class="card-img-top"
                    />
                  </div>
                  <div class="card-body">
                    <a href="http://localhost:7749/info1"><p
                        class="card-text sp"
                      >PATEK PHILIPPE</p></a>
                    <p class="card-text discountsp">
                      <del>99.812.167.905,41₫</del>
                      -26%
                    </p>
                    <p class="card-text price">73.867.611.250₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='#';">
                    <img
                      src="https://cdn2.jomashop.com/media/catalog/product/cache/df24c858758eb768757877f23cd17493/a/u/audemars-piguet-royal-oak-offshore-18carat-white-gold-diamond-pave-automatic-mens-watch-26403bczz8044bc01-26403bczz8044bc01.jpg?width=350&height=350"
                      class="card-img-top"
                    />
                  </div>
                  <div class="card-body">
                    <a href=""><p class="card-text sp">AUDEMARS PIGUET</p></a>

                    <p class="card-text discountsp">
                      <del>37.532.305.750₫</del>
                      -13%
                    </p>
                    <p class="card-text price">32.653.106.002₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='#';">
                    <img
                      src="https://cdn2.jomashop.com/media/catalog/product/cache/df24c858758eb768757877f23cd17493/p/a/patek-philippe-grand-complications-sky-moon-tourbillon-hand-wind-brown-dial-mens-watch-6002r001.jpg?width=350&height=350"
                      class="card-img-top"
                    />
                  </div>

                  <div class="card-body">
                    <a href=""><p class="card-text sp">PATEK PHILIPPE</p></a>

                    <p class="card-text discountsp">
                      <del>185.305.348.700₫</del>
                      -22%
                    </p>
                    <p class="card-text price">145.243.393.750₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='#';">
                    <img
                      src="https://cdn2.jomashop.com/media/catalog/product/cache/df24c858758eb768757877f23cd17493/r/o/rolex-cosmograph-daytona-chronograph-automatic-chronometer-diamond-watch-116595-rbowpav.jpg?width=350&height=350"
                      class="card-img-top"
                    />
                  </div>
                  <div class="card-body">
                    <a href=""><p class="card-text sp">
                        ROLEX
                      </p></a>

                    <p class="card-text discountsp">
                      <del></del>
                    </p>
                    <p class="card-text price">23.061.250.000₫</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='#';">
                    <img
                      src="https://cdn2.jomashop.com/media/catalog/product/cache/df24c858758eb768757877f23cd17493/p/a/patek-philippe-celestial-automatic-baguette-diamond-blue-dial-mens-watch-61041g010.jpg?width=350&height=350"
                      class="card-img-top"
                    />
                  </div>

                  <div class="card-body">
                    <a href=""><p class="card-text sp">PATEK PHILIPPE</p></a>

                    <p class="card-text discountsp">
                      <del></del>
                    </p>
                    <p class="card-text price">19.820.537.500₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='#';">
                    <img
                      src="https://cdn2.jomashop.com/media/catalog/product/cache/df24c858758eb768757877f23cd17493/r/o/rolex-gmt-master-ii-diamond-automatic-18kt-white-gold-set-with-diamonds-mens-watch-116769tbr.jpg?width=350&height=350"
                      class="card-img-top"
                    />
                  </div>

                  <div class="card-body">
                    <a href=""><p class="card-text sp">ROLEX</p></a>

                    <p class="card-text discountsp">
                      <del>11.781.871.250₫</del>
                      -4%
                    </p>
                    <p class="card-text price">11.296.371.250₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='#';">
                    <img
                      src="https://cdn2.jomashop.com/media/catalog/product/cache/df24c858758eb768757877f23cd17493/r/e/revue-thommen-air-speed-chronograph-automatic-black-dial-mens-watch-160716854-160716854.jpg?width=350&height=350"
                      class="card-img-top"
                    />
                  </div>

                  <div class="card-body">
                    <a href=""><p class="card-text sp">REVUE THOMMEN</p></a>

                    <p class="card-text discountsp">
                      <del>89.817.500đ</del>
                      -78%
                    </p>
                    <p class="card-text price">20.002.357,25₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='#';">
                    <img
                      src="https://cdn2.jomashop.com/media/catalog/product/cache/df24c858758eb768757877f23cd17493/r/a/raymond-weil-freelancer-automatic-blue-dial-mens-watch-2785tir05500.jpg?width=350&height=350"
                      class="card-img-top"
                    />
                  </div>

                  <div class="card-body">
                    <a href=""><p class="card-text sp">RAYMOND WEIL</p></a>

                    <p class="card-text discountsp">
                      <del>80.714.375đ</del>
                      -31%
                    </p>
                    <p class="card-text price">55.711.125đ</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <h2 class="block__title mb-0 text-center">
              Smart
              <span class="highlight">Watch</span>
            </h2>
            <div class="row">
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <img
                    src="https://cdn.tgdd.vn/Products/Images/7077/313840/befit-watch-s-day-silicone-280823-120212-600x600.jpg"
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <a href=""><p class="card-text sp">BeFit WatchS 45mm</p></a>
                    <p class="card-text discountsp">
                      <del>1.490.000₫</del>
                      -26%
                    </p>
                    <p class="card-text price">1.090.000₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <img
                    src="https://cdn.tgdd.vn/Products/Images/7077/313840/befit-watch-s-day-silicone-280823-120212-600x600.jpg"
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <a href=""><p class="card-text sp">Samsung Galaxy Watch5
                        40mm</p></a>
                    <p class="card-text discountsp">
                      <del>5.990.000₫</del>
                      -36%
                    </p>
                    <p class="card-text price">3.790.000₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <img
                    src="https://cdn.tgdd.vn/Products/Images/7077/290757/mi-band-7-pro-den-thumb-600x600.jpg"
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <a href=""><p class="card-text sp">Xiaomi Mi Band 7 Pro</p></a>
                    <p class="card-text discountsp">
                      <del>1.890.000₫</del>
                      -42%
                    </p>
                    <p class="card-text price">1.090.000₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <img
                    src="https://cdn.tgdd.vn/Products/Images/7077/314710/apple-watch-ultra-lte-49mm-vien-titanium-day-ocean-trang-thumb-4-1-600x600.jpg"
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <a href=""><p class="card-text sp">Apple Watch Ultra 2 GPS +
                        Cellular 49mm</p></a>
                    <p class="card-text discountsp">
                      <del>1.890.000₫</del>
                      -42%
                    </p>
                    <p class="card-text price">1.090.000₫</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="card cardproduct">
                  <img
                    src="https://cdn-amz.woka.io/images/I/71mTOO-TKUL.jpg"
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <a href=""><p class="card-text sp">TicWatch Pro 5</p></a>
                    <p class="card-text discountsp">
                      <del>11.990.000₫</del>
                      -26%
                    </p>
                    <p class="card-text price">5.990.000₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <img
                    src="https://cdn.tgdd.vn/Products/Images/7077/310849/samsung-galaxy-watch6-40mm-vang-ksp-600x600.jpg"
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <a href=""><p class="card-text sp">Samsung Galaxy Watch6
                        40mm</p></a>
                    <p class="card-text discountsp">
                      <del>5.990.000₫</del>
                      -36%
                    </p>
                    <p class="card-text price">3.790.000₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <img
                    src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/h/u/huawei_1__1_1.png"
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <a href=""><p class="card-text sp">Huawei Watch GT4 dây thép</p></a>
                    <p class="card-text discountsp">
                      <del>9.490.000đ</del>
                      -42%
                    </p>
                    <p class="card-text price">7.990.000₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <img
                    src="https://cdn.tgdd.vn/Products/Images/7077/290757/mi-band-7-pro-den-thumb-600x600.jpg"
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <a href=""><p class="card-text sp">Huawei Watch Buds</p></a>
                    <p class="card-text discountsp">
                      <del>10.990.000đ</del>
                      -42%
                    </p>
                    <p class="card-text price">6.990.000đ</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
          </button> -->
    </div>
  </div>
</div>

<!-- ===================================== -->

<div id="features" class="block-11 space-between-blocks">
  <div class="container">
    <!-- HEADER -->
    <div class="block__header col-lg-8 col-xl-7 mx-auto text-center">
      <p class="block__pre-title mb-2">GET MORE DETAILS</p>
      <h1 class="block__title mb-3">
        Awesome Technical
        <span class="highlight">Specs</span>
      </h1>
      <p class="block__paragraph mb-0">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry’s standard
      </p>
    </div>
    <div
      class="row align-items-center justify-content-center flex-column-reverse flex-lg-row px-2"
    >
      <div class="col-lg-4 col-xl-5 p-lg-5">
        <img class="w-100" src="/img/img-3.png" />
      </div>
      <div class="col-lg-8 col-xl-6">
        <div class="row">
          <div class="col-md-6 mb-2-1rem">
            <div class="card-1 card-1--selected text-center">
              <span class="card-1__symbol mx-auto mb-4">
                <i class="fas fa-camera-retro"></i>
              </span>
              <h3 class="card-1__title mb-2">Camera Available</h3>
              <p class="card-1__paragraph">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry’s standard.
              </p>
            </div>
          </div>
          <div class="col-md-6 mb-2-1rem">
            <div class="card-1 text-center">
              <span class="card-1__symbol mx-auto mb-4">
                <i class="fas fa-leaf"></i>
              </span>
              <h3 class="card-1__title mb-2">Eco Friendly</h3>
              <p class="card-1__paragraph">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry’s standard.
              </p>
            </div>
          </div>
          <div class="col-md-6 mb-2-1rem">
            <div class="card-1 text-center">
              <span class="card-1__symbol mx-auto mb-4">
                <i class="fas fa-cog"></i>
              </span>
              <h3 class="card-1__title mb-2">Readable in Sunlight</h3>
              <p class="card-1__paragraph">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry’s standard.
              </p>
            </div>
          </div>
          <div class="col-md-6 mb-2-1rem">
            <div class="card-1 text-center">
              <span class="card-1__symbol mx-auto mb-4">
                <i class="fas fa-database"></i>
              </span>
              <h3 class="card-1__title mb-2">30 Days Battery Time</h3>
              <p class="card-1__paragraph">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry’s standard.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ======================================== -->

<div id="testimonials" class="block-20 space-between-blocks">
  <div class="container">
    <div class="block__header col-lg-8 col-xl-7 mx-auto text-center px-0">
      <h1 class="block__title mb-3">What Buyers Says About Us</h1>
      <p class="block__paragraph">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry’s standard
      </p>
    </div>
    <div class="row px-2 pt-4">
      <div class="col-lg-4">
        <div class="testimonial-card-1 mb-5">
          <p class="testimonial-card-1__paragraph mb-3">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry’s standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen.
          </p>
          <div class="block-20__person">
            <div class="mb-2">
              <img
                class="block-20__person-avatar"
                src="https://scontent.fhan5-10.fna.fbcdn.net/v/t39.30808-6/411199530_122139840428066707_9150537333214619460_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=c42490&_nc_eui2=AeGaMWWaCXT5Uzto5CNrKd2jeRavgB7Cfmp5Fq-AHsJ-auQDFYglnzIvnpw1sEV8WQ-RKT2ZXB4hMOs2HLCOT_Ux&_nc_ohc=xvrCsEuf4f8AX-ZUeNg&_nc_ht=scontent.fhan5-10.fna&oh=00_AfASJJpESp0UVrIQDZnx3G_IQjR9utkTk2hxk9EUOhGngQ&oe=65886172"
              />
            </div>
            <div class="flex-grow-1 d-flex flex-column">
              <span class="block-20__person-rating">
                    {{!-- <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> --}}
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
              </span>
              <span class="block-20__person-name my-1">AAMAX</span>
              <span class="block-20__person-info">Ambatukamt17@gmail.com</span>
            </div>
          </div>
          <span class="testimonial-card-1__quote-symbol">
            <i class="fas fa-quote-left"></i>
          </span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-card-1 mb-5">
          <p class="testimonial-card-1__paragraph mb-3">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry’s standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen.
          </p>
          <div class="block-20__person">
            <div class="mb-2">
              <img
                class="block-20__person-avatar"
                src="https://scontent.fhan5-10.fna.fbcdn.net/v/t39.30808-6/411195192_122139840644066707_3066809166632834046_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=c42490&_nc_eui2=AeHAmR43iJRE4X57AaZRT4gQRJjmqnUZCjNEmOaqdRkKMwTfhkcAuKDVxZNVCuJp3tgFld0Ag-fzvOni5U879UoS&_nc_ohc=4-6X5PAF-gwAX-mTYD1&_nc_ht=scontent.fhan5-10.fna&oh=00_AfDT9vrP7q0Ufw5WBia5ubCv9vw5xCUsFFvHE4DxWPv7fA&oe=658868F8"
              />
            </div>
            <div class="flex-grow-1 d-flex flex-column">
              <span class="block-20__person-rating">
                {{! <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> }}
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
              </span>
              <span class="block-20__person-name my-1">Web Developer</span>
              <span class="block-20__person-info">hvuits.me@gmail.com</span>
            </div>
          </div>
          <span class="testimonial-card-1__quote-symbol">
            <i class="fas fa-quote-left"></i>
          </span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-card-1 mb-5">
          <p class="testimonial-card-1__paragraph mb-3">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry’s standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen.
          </p>
          <div class="block-20__person">
            <div class="mb-2">
              <img
                class="block-20__person-avatar"
                src="https://scontent.fhan5-6.fna.fbcdn.net/v/t39.30808-6/411178469_122139840488066707_3005982499028020052_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=c42490&_nc_eui2=AeGFLSfPbY7onCh8U8vTfqgCyBm5eYZwUtzIGbl5hnBS3JW4FuMD0dDcmoyiKSWZnEkFsm7QJAd6Kx9NNUWxCotK&_nc_ohc=ZJBbhoLzPt0AX-w-5Mm&_nc_ht=scontent.fhan5-6.fna&oh=00_AfDOjfZwiREmT2TgWht_SUUw3YgROd2Zt7u-3XOzyHRtOw&oe=6589A039"
              />
            </div>
            <div class="flex-grow-1 d-flex flex-column">
              <span class="block-20__person-rating">
                {{! <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> }}
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
              </span>
              <span class="block-20__person-name my-1">AAM Boxer</span>
              <span
                class="block-20__person-info"
              >Abubakramanat17gmail.com</span>
            </div>
          </div>
          <span class="testimonial-card-1__quote-symbol">
            <i class="fas fa-quote-left"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="row px-2 pt-4 d-flex justify-content-center">
      <div class="col-lg-4">
        <div class="testimonial-card-1 mb-5">
          <p class="testimonial-card-1__paragraph mb-3">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry’s standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen.
          </p>
          <div class="block-20__person">
            <div class="mb-2">
              <img
                class="block-20__person-avatar"
                src="https://scontent.fhan5-10.fna.fbcdn.net/v/t39.30808-6/411183393_122139840548066707_2619020305144305430_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=c42490&_nc_eui2=AeE6gboWeGKyPWedYhm8ZLIKJmDYkKVsfEEmYNiQpWx8QT8mzx4s63m55a6z4slb-wNo8cS7GlpQOPznVPtN9VWG&_nc_ohc=Ky_1kfBLIIoAX8YOzCI&_nc_ht=scontent.fhan5-10.fna&oh=00_AfDMXMEdu6CtGYh8v7CK2EDKP7SpJuWyWDBh4g1IrYcf5A&oe=6588203F"
              />
            </div>
            <div class="flex-grow-1 d-flex flex-column">
              <span class="block-20__person-rating">
                {{! <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> }}
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
              </span>
              <span class="block-20__person-name my-1">Tester</span>
              <span
                class="block-20__person-info"
              >Abdullahamanat17gmail.com</span>
            </div>
          </div>
          <span class="testimonial-card-1__quote-symbol">
            <i class="fas fa-quote-left"></i>
          </span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-card-1 mb-5">
          <p class="testimonial-card-1__paragraph mb-3">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry’s standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen.
          </p>
          <div class="block-20__person">
            <div class="mb-2">
              <img
                class="block-20__person-avatar"
                src="https://scontent.fhan5-11.fna.fbcdn.net/v/t39.30808-6/411189114_122139840596066707_208476042734966863_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=c42490&_nc_eui2=AeF1JcFGTZ1EraCV6D6jL8klyoOJcXXIw3nKg4lxdcjDeZGv9aZN3o1d6vX_BttiTtc6AXpdowpqjte7OMDUeXIC&_nc_ohc=hJOUHQVht0cAX-RgmDW&_nc_ht=scontent.fhan5-11.fna&oh=00_AfATpZcf89VWp-Ea6By88klTEX9ugFsLrShb-4JWkLlseQ&oe=6589AAC4"
              />
            </div>
            <div class="flex-grow-1 d-flex flex-column">
              <span class="block-20__person-rating">
                {{! <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> }}
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
              </span>
              <span class="block-20__person-name my-1">Advertiser</span>
              <span class="block-20__person-info">Bilalamanat17gmail.com</span>
            </div>
          </div>
          <span class="testimonial-card-1__quote-symbol">
            <i class="fas fa-quote-left"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- =================================== -->

<div id="pricing" class="block-17 px-4 space-between-blocks">
  <div class="container">
    <div class="block-17__header col-lg-8 col-xl-7 mx-auto text-center px-0">
      <h1 class="block__title mb-3">PRICING</h1>
      <p class="block__paragraph">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry’s standard
      </p>
    </div>
    <div
      class="block-17__card row flex-column-reverse flex-lg-row justify-content-center"
    >
      <div
        class="testimonial-card-3 text-center col-lg-6 px-0 d-flex align-items-center justify-content-center"
      >
        <div class="px-4 px-lg-5">
          <img class="person__avatar" src="/img/profile-5.jpg" />
          <p class="testimonial-card-3__paragraph my-4">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry’s standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <div class="flex-grow-1 d-flex flex-column mb-3">
            <span class="person__name">Mern Stack Developer</span>
            <span class="person__info my-1">Bilalamanat17gmail.com</span>
            <span class="person__rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
          </div>
        </div>
        <span class="testimonial-card-3__quote-symbol">
          <i class="fas fa-quote-left"></i>
        </span>
      </div>
      <div class="cta-card col-lg-5 px-0">
        <div class="plan-card text-center">
          <h6 class="plan-card__name mb-0">Free Shipping</h6>
          <p
            class="discount mt-3 mb-0 d-flex align-items-center justify-content-center"
          >
            <span class="discount__old-price mx-2">$300</span>
            <span class="discount__percentage mx-2">50% off</span>
          </p>
          <p class="plan-card__price my-2">$149</p>
          <span class="plan-card__duration">90 Days Money Back Guarenteed</span>
          <ul class="plan-features list-unstyled mt-5 mb-0">
            <li class="plan-features__li">
              <span class="plan-features__li-icon mx-1">
                <svg
                  class="bi bi-check2-circle"
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"
                  />
                </svg>
              </span>
              <span class="mx-3">The Watch</span>
            </li>
            <li class="plan-features__li">
              <span class="plan-features__li-icon mx-1">
                <svg
                  class="bi bi-check2-circle"
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"
                  />
                </svg>
              </span>
              <span class="mx-3">+Bonus: Accessories</span>
            </li>
            <li class="plan-features__li">
              <span class="plan-features__li-icon mx-1">
                <svg
                  class="bi bi-check2-circle"
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"
                  />
                </svg>
              </span>
              <span class="mx-3">Lifetime Mobile App</span>
            </li>
            <li class="mt-5">
              <a href="#" class="d-block btn btn-primary px-5 mx-auto">
                Buy Now
              </a>
              <small class="d-block mt-2 text-center">208 Left. Discount ends
                after 2 weeks</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- =================================== -->

<div
  id="contact-us"
  class="block-28 space-between-blocks border-top border-bottom"
>
  <div class="container">
    <div class="row h-100">
      <div class="col-lg-6 h-100 block-28__content-side">
        <div class="contact-info">
          <h5 class="contact-info__title mb-3">Get in Touch</h5>
          <p class="contact-info__paragraph mb-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry’s standard dummy text
            ever since the 1500s.
          </p>
          <div class="mb-5">
            <h6 class="contact-info__title-2 mb-3">COLLABORATE</h6>
            <p class="d-flex flex-column">
              <span class="contact-info__item mb-2">AAMAX@example.com</span>
              <span class="contact-info__item">Fax: (+92) 194476740</span>
            </p>
          </div>
          <div class="mb-5">
            <h6 class="contact-info__title-2 mb-3">COLLABORATE</h6>
            <p class="d-flex flex-column">
              <span class="contact-info__item mb-2">
                <i class="fas fa-phone"></i><span
                  class="mx-2"
                >AAMAX@example.com</span>
              </span>
              <span class="contact-info__item">
                <i class="fas fa-envelope"></i><span class="mx-2">Fax: (+92)
                  194476740</span>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 h-100 block-28__form-side">
        <form
          onsubmit="submitContactForm(event)"
          class="contact-form text-center"
        >
          <div class="contact-form__header mb-5">
            <h6 class="contact-form__title mb-3">Contact Us</h6>
            <p class="contact-form__paragraph mb-0 mx-auto">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
          <input
            type="text"
            class="contact-form__input"
            placeholder="Full Name"
          />
          <input type="email" class="contact-form__input" placeholder="Email" />
          <textarea
            class="contact-form__input"
            placeholder="Message"
          ></textarea>
          <button class="btn btn-primary w-100">SEND MESSAGE</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- =================================== -->

<div class="block-32 space-between-blocks">
  <div class="container">
    <!-- HEADER -->
    <div class="col-lg-8 col-xl-7 mx-auto text-center mb-5">
      <h1 class="block__title mb-3">Mua ngay, Tiết kiệm lên đến 50%</h1>
      <p class="block__paragraph mb-0">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry’s standard
      </p>
    </div>
    <div class="text-center">
      <a href="#" class="btn btn-primary">Mua Ngay</a>
    </div>
  </div>
</div>

<!-- =================================== -->