<div id="product" class="block-5 space-between-blocks">
  <div class="container">
    <!-- HEADER -->
    <div class="col-lg-8 col-xl-7 mx-auto text-center mb-5">
      <p class="block__pre-title mb-2">TẠI SAO CHỌN CHÚNG TÔI ?</p>
      <h1 class="block__title mb-3">
        Quy trình dễ dàng
        <span class="highlight">với các tính năng tốt nhất</span>
      </h1>
      <p class="block__paragraph mb-0">
        Quy trình dễ dàng của chúng tôi kết hợp tính năng tiện ích nhất, giúp bạn tiết kiệm thời gian và công sức. Tận
        hưởng trải nghiệm linh hoạt và hiệu quả với những tính năng hàng đầu của chúng tôi!
      </p>
    </div>
    <div class="row align-items-center flex-column-reverse flex-lg-row px-2">
      <!-- LEFT CONTENT -->
      <div class="col-lg-4">
        <div class="card-2 d-flex flex-row flex-lg-row-reverse">
          <div>
            <span class="card-2__symbol mx-auto">
              <i class="fas fa-heartbeat"></i>
            </span>
          </div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">Máy đo nhịp tim</h3>
            <p class="card-2__paragraph">
              "Máy đo nhịp tim của chúng tôi cung cấp độ chính xác cao và thiết kế nhỏ gọn, giúp bạn theo dõi sức khỏe
              một cách thuận lợi. Đặc tính tiện ích để theo dõi nhịp tim, sản phẩm này là đối tác lý tưởng cho lối sống
              sức khỏe của bạn."
            </p>
          </div>
        </div>
        <div class="card-2 d-flex flex-row flex-lg-row-reverse">
          <div>
            <span class="card-2__symbol mx-auto">
              <i class="fas fa-briefcase-medical"></i>
            </span>
          </div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">Quản lý huyết áp</h3>
            <p class="card-2__paragraph">
              "Giải pháp quản lý huyết áp tiện ích của chúng tôi cung cấp theo dõi chính xác và thuận tiện. Với thiết kế
              nhỏ gọn và tính năng thông minh, bạn có thể quản lý huyết áp một cách dễ dàng và hiệu quả."
            </p>
          </div>
        </div>
        <div class="card-2 d-flex flex-row flex-lg-row-reverse">
          <div>
            <span class="card-2__symbol mx-auto">
              <i class="fas fa-bell"></i>
            </span>
          </div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">Cảnh báo</h3>
            <p class="card-2__paragraph">
              "Cảnh báo của chúng tôi đảm bảo an toàn và hiệu suất. Với tính năng cảnh báo thông minh, sản phẩm giúp bạn
              duy trì sự chú ý và đảm bảo tình trạng an toàn mọi lúc."
            </p>
          </div>
        </div>
      </div>
      <!-- IMAGE -->
      <div class="col-lg-4 my-5 text-center">
        <img src="/img/img-2.png" class="w-75" />
      </div>
      <!-- RIGHT CONTENT -->
      <div class="col-lg-4">
        <div class="card-2 d-flex">
          <div>
            <span class="card-2__symbol mx-auto">
              <i class="fas fa-map-marker-alt"></i>
            </span>
          </div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">Trình tìm vị trí</h3>
            <p class="card-2__paragraph">
              "Trình tìm vị trí của chúng tôi mang đến trải nghiệm định vị hiệu quả và chính xác. Với công nghệ tiên
              tiến và giao diện người dùng thân thiện, bạn sẽ dễ dàng khám phá thế giới xung quanh một cách thuận lợi."
            </p>
          </div>
        </div>
        <div class="card-2 d-flex">
          <div>
            <span class="card-2__symbol mx-auto">
              <i class="fas fa-fingerprint"></i>
            </span>
          </div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">Khóa vân tay</h3>
            <p class="card-2__paragraph">
              "Khóa vân tay của chúng tôi cung cấp an ninh tối ưu và tiện ích đặc biệt. Với công nghệ nhận diện nhanh
              chóng, bạn có thể mở khóa một cách dễ dàng và an toàn."
            </p>
          </div>
        </div>
        <div class="card-2 d-flex">
          <div>
            <span class="card-2__symbol mx-auto">
              <i class="fas fa-mobile"></i>
            </span>
          </div>
          <div class="px-2"></div>
          <div>
            <h3 class="card-2__title mb-2">Máy ảnh và Bluetooth</h3>
            <p class="card-2__paragraph">
              "Máy ảnh và Bluetooth của chúng tôi kết hợp khả năng chụp hình xuất sắc với kết nối không dây thuận tiện.
              Một giải pháp đa năng cho việc ghi lại và chia sẻ những khoảnh khắc đặc biệt."
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ===================================== -->

<div id="other_product" class="block-5 space-between-blocks">
  <div class="container">
    <!-- HEADER -->
    <div class="row">
      <div class="col-lg-8 col-xl-7 mx-auto text-center mb-5">
        <!-- <p class="block__pre-title mb-2">WHY CHOOSING US</p> -->
        <h1 class="block__title mb-3">
          <span class="highlight">Sản phẩm</span>
          khác
        </h1>
        <!-- <p class="block__paragraph mb-0">
  
            Lorem Ipsum is simply perfect text of the printing and typesetting industry. Lorem Ipsum has been the industry’s
            standard
          </p> -->
      </div>
    </div>

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <h2 class="block__title mb-0 text-center">
              Đồng hồ
              <span class="highlight">thông minh</span>
            </h2>
            <div class="row sp">
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='http://localhost:7749/info1';">
                    <img
                      src="https://cdn2.jomashop.com/media/catalog/product/cache/df24c858758eb768757877f23cd17493/p/a/patek-philippe-grand-complications-perpetual-automatic-moon-phase-diamond-mens-watch-5304301r001.jpg?width=350&height=350"
                      class="card-img-top" />
                  </div>
                  <div class="card-body">
                    <a href="http://localhost:7749/info1">
                      <p class="card-text sp">PATEK PHILIPPE</p>
                    </a>
                    <p class="card-text discountsp">
                      <del>99.812.167.905,41₫</del>
                      -26%
                    </p>
                    <p class="card-text price">73.867.611.250₫</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='http://localhost:7749/info2';">
                    <img
                      src="https://salt.tikicdn.com/cache/750x750/ts/product/ea/a2/4e/72640b445ff0d25345dbfb3d91d25f4a.jpg.webp"
                      class="card-img-top" />
                  </div>
                  <div class="card-body">
                    <a href="http://localhost:7749/info2">
                      <p class="card-text sp">Đồng Hồ Thông Minh Xiaomi Amazfit Bip - Hàng Chính Hãng</p>
                    </a>

                    <p class="card-text discountsp">
                      <del>1.360.000₫</del>
                      -26%
                    </p>
                    <p class="card-text price">1.006.400₫</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='http://localhost:7749/info3';">
                    <img
                      src="https://salt.tikicdn.com/cache/750x750/ts/product/f3/d4/cb/73500caa1a9d79ae8c7901ca0514d639.jpg.webp"
                      class="card-img-top" />
                  </div>

                  <div class="card-body">
                    <a href="http://localhost:7749/info3">
                      <p class="card-text sp">Apple Watch SE 2023 GPS Sport Band (Viền Nhôm, Dây Cao Su)</p>
                    </a>

                    <p class="card-text discountsp">
                      <del>5.990.000₫</del>
                      -25%
                    </p>
                    <p class="card-text price">4.492.500₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='#http://localhost:7749/info4';">
                    <img
                      src="https://salt.tikicdn.com/cache/750x750/ts/product/b0/59/79/c25c7fbcf14598aba3502c4e123a268a.png.webp"
                      class="card-img-top" />
                  </div>
                  <div class="card-body">
                    <a href="http://localhost:7749/info4">
                      <p class="card-text sp">
                        Đồng Hồ Thông Minh Xiaomi Redmi Watch 3 / Watch 3 Active - Hàng Chính Hãng FPT
                      </p>
                    </a>

                    <p class="card-text discountsp">
                      <del>5.990.000₫</del>
                      -25%
                    </p>
                    <p class="card-text price">4.492.500₫</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='http://localhost:7749/info5';">
                    <img
                      src="https://salt.tikicdn.com/cache/750x750/ts/product/2d/75/eb/4c8ecccbbab3fa1911b0494583b88f72.png.webp"
                      class="card-img-top" />
                  </div>

                  <div class="card-body">
                    <a href="http://localhost:7749/info5">
                      <p class="card-text sp">Đồng hồ thông minh Garmin Forerunner 55, GPS, KOR/SEA - Hàng chính hãng
                      </p>
                    </a>

                    <p class="card-text discountsp">
                      <del></del>
                    </p>
                    <p class="card-text price">5.020.000₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='http://localhost:7749/info6';">
                    <img
                      src="https://salt.tikicdn.com/cache/750x750/ts/product/03/5f/ca/2d49af05e5dea81ef6da215e9a1a4752.jpg.webp"
                      class="card-img-top" />
                  </div>

                  <div class="card-body">
                    <a href="http://localhost:7749/info6">
                      <p class="card-text sp">Đồng hồ thông minh Garmin Forerunner 55, GPS, KOR/SEA - Hàng chính hãng
                      </p>
                    </a>

                    <p class="card-text discountsp">
                      <del>11.781.871.250₫</del>
                      -4%
                    </p>
                    <p class="card-text price">11.296.371.250₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='http://localhost:7749/info7';">
                    <img
                      src="https://salt.tikicdn.com/cache/750x750/ts/product/9f/dd/b6/0e4305e8d94ea2d205f95ff57e9fbd6e.jpg.webp"
                      class="card-img-top" />
                  </div>

                  <div class="card-body">
                    <a href="http://localhost:7749/info7">
                      <p class="card-text sp">Đồng Hồ Thông Minh Garmin Venu SQ Music Màn Hình AMOLED </p>
                    </a>

                    <p class="card-text discountsp">
                      <del>89.817.500đ</del>
                      -78%
                    </p>
                    <p class="card-text price">20.002.357,25₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='http://localhost:7749/info8';">
                    <img
                      src="https://salt.tikicdn.com/cache/750x750/ts/product/f3/c1/4e/9a3c60149197bfe170ef77bda23f191b.jpg.webp"
                      class="card-img-top" />
                  </div>

                  <div class="card-body">
                    <a href="http://localhost:7749/info8">
                      <p class="card-text sp">Đồng hồ thông minh Garmin Forerunner 55, GPS, KOR/SEA - Hàng chính hãng
                      </p>
                    </a>

                    <p class="card-text discountsp">
                      <del>80.714.375đ</del>
                      -31%
                    </p>
                    <p class="card-text price">55.711.125đ</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <h2 class="block__title mb-0 text-center">
              Đồng hồ
              <span class="highlight">thông minh</span>
            </h2>
            <div class="row">
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='http://localhost:7749/info9';">
                    <img
                      src="https://salt.tikicdn.com/cache/750x750/ts/product/41/1e/fe/0ea081051473804d94a73f438ec779a6.jpg.webp"
                      class="card-img-top" />
                  </div>
                  <div class="card-body">
                    <a href="http://localhost:7749/info9">
                      <p class="card-text sp">Đồng Hồ Thông Minh Theo Dõi Sức Khỏe Garmin Venu SQ - Hàng Chính Hãng</p>
                    </a>
                    <p class="card-text discountsp">
                      <del>1.490.000₫</del>
                      -26%
                    </p>
                    <p class="card-text price">1.090.000₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='http://localhost:7749/info10';">
                    <img
                      src="https://cdn.tgdd.vn/Products/Images/7077/313840/befit-watch-s-day-silicone-280823-120212-600x600.jpg"
                      class="card-img-top" />
                  </div>
                  <div class="card-body">
                    <a href="http://localhost:7749/info10">
                      <p class="card-text sp">
                        Đồng Hồ Thông Minh Samsung Galaxy Watch 4 Classic LTE 42mm SM- R885
                      </p>
                    </a>
                    <p class="card-text discountsp">
                      <del>5.990.000₫</del>
                      -36%
                    </p>
                    <p class="card-text price">3.790.000₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='http://localhost:7749/info11';">
                    <img src="https://cdn.tgdd.vn/Products/Images/7077/290757/mi-band-7-pro-den-thumb-600x600.jpg"
                      class="card-img-top" />
                  </div>
                  <div class="card-body">
                    <a href="http://localhost:7749/info11">
                      <p class="card-text sp">Đồng hồ thông minh đeo tay kết nối Bluetooth giúp theo dõi huyết áp</p>
                    </a>
                    <p class="card-text discountsp">
                      <del>1.890.000₫</del>
                      -42%
                    </p>
                    <p class="card-text price">1.090.000₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='http://localhost:7749/info12';">
                    <img
                      src="https://cdn.tgdd.vn/Products/Images/7077/314710/apple-watch-ultra-lte-49mm-vien-titanium-day-ocean-trang-thumb-4-1-600x600.jpg"
                      class="card-img-top" />
                  </div>
                  <div class="card-body">
                    <a href="http://localhost:7749/info12">
                      <p class="card-text sp">Apple Watch Ultra 2 GPS +
                        Cellular 49mm</p>
                    </a>
                    <p class="card-text discountsp">
                      <del>1.890.000₫</del>
                      -42%
                    </p>
                    <p class="card-text price">1.090.000₫</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='http://localhost:7749/info13';">
                    <img src="https://cdn-amz.woka.io/images/I/71mTOO-TKUL.jpg" class="card-img-top" />
                  </div>
                  <div class="card-body">
                    <a href="http://localhost:7749/info13">
                      <p class="card-text sp">TicWatch Pro 5</p>
                    </a>
                    <p class="card-text discountsp">
                      <del>11.990.000₫</del>
                      -26%
                    </p>
                    <p class="card-text price">5.990.000₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='http://localhost:7749/info14';">
                    <img
                      src="https://cdn.tgdd.vn/Products/Images/7077/310849/samsung-galaxy-watch6-40mm-vang-ksp-600x600.jpg"
                      class="card-img-top" />
                  </div>
                  <div class="card-body">
                    <a href="http://localhost:7749/info14">
                      <p class="card-text sp">Samsung Galaxy Watch6
                        40mm</p>
                    </a>
                    <p class="card-text discountsp">
                      <del>5.990.000₫</del>
                      -36%
                    </p>
                    <p class="card-text price">3.790.000₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='http://localhost:7749/info15';">
                    <img
                      src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/h/u/huawei_1__1_1.png"
                      class="card-img-top" />
                  </div>
                  <div class="card-body">
                    <a href="http://localhost:7749/info15">
                      <p class="card-text sp">Huawei Watch GT4 dây thép</p>
                    </a>
                    <p class="card-text discountsp">
                      <del>9.490.000đ</del>
                      -42%
                    </p>
                    <p class="card-text price">7.990.000₫</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card cardproduct">
                  <div onclick="window.location.href='http://localhost:7749/info16';">
                    <img src="https://cdn.tgdd.vn/Products/Images/7077/290757/mi-band-7-pro-den-thumb-600x600.jpg"
                      class="card-img-top" />
                  </div>
                  <div class="card-body">
                    <a href="http://localhost:7749/info16">
                      <p class="card-text sp">Huawei Watch Buds</p>
                    </a>
                    <p class="card-text discountsp">
                      <del>10.990.000đ</del>
                      -42%
                    </p>
                    <p class="card-text price">6.990.000đ</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> --}}
    </div>
  </div>
</div>

<!-- ===================================== -->

<div id="features" class="block-11 space-between-blocks">
  <div class="container">
    <!-- HEADER -->
    <div class="block__header col-lg-8 col-xl-7 mx-auto text-center">
      <p class="block__pre-title mb-2">BIẾT THÊM CHI TIẾT</p>
      <h1 class="block__title mb-3">
        Thông số kỹ thuật tuyệt vời
        <span class="highlight">Specs</span>
      </h1>
      <p class="block__paragraph mb-0">
        "Thông số kỹ thuật tuyệt vời của sản phẩm chúng tôi mang lại hiệu suất đỉnh cao và trải nghiệm ấn tượng. Với
        tính năng tiên tiến, nó đáp ứng mọi yêu cầu của bạn."
      </p>
    </div>
    <div class="row align-items-center justify-content-center flex-column-reverse flex-lg-row px-2">
      <div class="col-lg-4 col-xl-5 p-lg-5">
        <img class="w-100" src="/img/img-3.png" />
      </div>
      <div class="col-lg-8 col-xl-6">
        <div class="row">
          <div class="col-md-6 mb-2-1rem">
            <div class="card-1 card-1--selected text-center">
              <span class="card-1__symbol mx-auto mb-4">
                <i class="fas fa-camera-retro"></i>
              </span>
              <h3 class="card-1__title mb-2">Máy ảnh có sẵn</h3>
              <p class="card-1__paragraph">
                "Máy ảnh tích hợp của chúng tôi cung cấp khả năng chụp ảnh chất lượng cao mọi lúc, mọi nơi. Với tính
                năng này, bạn sẽ không bao giờ bỏ lỡ khoảnh khắc quan trọng."
              </p>
            </div>
          </div>
          <div class="col-md-6 mb-2-1rem">
            <div class="card-1 text-center">
              <span class="card-1__symbol mx-auto mb-4">
                <i class="fas fa-leaf"></i>
              </span>
              <h3 class="card-1__title mb-2">Thân thiện với môi trường</h3>
              <p class="card-1__paragraph">
                "Sản phẩm của chúng tôi không chỉ xuất sắc về hiệu suất mà còn cam kết thân thiện với môi trường. Với
                các tính năng và vật liệu bền vững, chúng tôi đóng góp vào sự bảo vệ cho hành tinh của chúng ta."
              </p>
            </div>
          </div>
          <div class="col-md-6 mb-2-1rem">
            <div class="card-1 text-center">
              <span class="card-1__symbol mx-auto mb-4">
                <i class="fas fa-cog"></i>
              </span>
              <h3 class="card-1__title mb-2">Có thể đọc được dưới ánh nắng mặt trời</h3>
              <p class="card-1__paragraph">
                "Màn hình có thể đọc dưới ánh nắng mặt trời của chúng tôi mang lại trải nghiệm xem tuyệt vời mọi lúc,
                mọi nơi. Không còn ngại ngùng trong điều kiện ánh sáng chói lọi."
              </p>
            </div>
          </div>
          <div class="col-md-6 mb-2-1rem">
            <div class="card-1 text-center">
              <span class="card-1__symbol mx-auto mb-4">
                <i class="fas fa-database"></i>
              </span>
              <h3 class="card-1__title mb-2">Thời gian sử dụng pin 30 ngày</h3>
              <p class="card-1__paragraph">
                "Với thời gian sử dụng pin lên đến 30 ngày, sản phẩm của chúng tôi mang lại trải nghiệm sử dụng liền
                mạch và tiện lợi. Sẵn sàng đồng hành cùng bạn trong thời gian dài mà không cần lo lắng về sạc pin."
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ======================================== -->

<div id="testimonials" class="block-20 space-between-blocks">
  <div class="container">
    <div class="block__header col-lg-8 col-xl-7 mx-auto text-center px-0">
      <h1 class="block__title mb-3">Người mua nói gì về chúng tôi</h1>
      <p class="block__paragraph">
        "Khách hàng của chúng tôi khen ngợi về chất lượng sản phẩm và dịch vụ chăm sóc khách hàng xuất sắc. Đón nhận
        phản hồi tích cực từ người mua là động lực lớn cho chúng tôi tiếp tục cung cấp trải nghiệm tốt nhất."
      </p>
    </div>
    <div class="row px-2 pt-4">
      <div class="col-lg-4">
        <div class="testimonial-card-1 mb-5">
          <p class="testimonial-card-1__paragraph mb-3">
            "Sản phẩm này tuyệt vời! Chất lượng làm việc tuyệt hảo và thiết kế đẹp mắt. Tôi hoàn toàn hài lòng với trải
            nghiệm của mình và sẽ khuyên bạn bè sử dụng sản phẩm này!"
          </p>
          <div class="block-20__person">
            <div class="mb-2">
              <img class="block-20__person-avatar"
                src="https://scontent.fhan5-10.fna.fbcdn.net/v/t39.30808-6/411199530_122139840428066707_9150537333214619460_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=c42490&_nc_eui2=AeGaMWWaCXT5Uzto5CNrKd2jeRavgB7Cfmp5Fq-AHsJ-auQDFYglnzIvnpw1sEV8WQ-RKT2ZXB4hMOs2HLCOT_Ux&_nc_ohc=xvrCsEuf4f8AX-ZUeNg&_nc_ht=scontent.fhan5-10.fna&oh=00_AfASJJpESp0UVrIQDZnx3G_IQjR9utkTk2hxk9EUOhGngQ&oe=65886172" />
            </div>
            <div class="flex-grow-1 d-flex flex-column">
              <span class="block-20__person-rating">
                {{!-- <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> --}}
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
              </span>
              <span class="block-20__person-name my-1">AAMAX</span>
              <span class="block-20__person-info">Ambatukamt17@gmail.com</span>
            </div>
          </div>
          <span class="testimonial-card-1__quote-symbol">
            <i class="fas fa-quote-left"></i>
          </span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-card-1 mb-5">
          <p class="testimonial-card-1__paragraph mb-3">
            "Sản phẩm này thật sự tuyệt vời! Chất lượng vượt trội, tính năng ấn tượng và thiết kế đẹp mắt. Tôi rất hài
            lòng với sự chọn lựa của mình và chắc chắn sẽ tiếp tục ủng hộ sản phẩm này."
          <div class="block-20__person">
            <div class="mb-2">
              <img class="block-20__person-avatar"
                src="https://scontent.fhan5-10.fna.fbcdn.net/v/t39.30808-6/411195192_122139840644066707_3066809166632834046_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=c42490&_nc_eui2=AeHAmR43iJRE4X57AaZRT4gQRJjmqnUZCjNEmOaqdRkKMwTfhkcAuKDVxZNVCuJp3tgFld0Ag-fzvOni5U879UoS&_nc_ohc=4-6X5PAF-gwAX-mTYD1&_nc_ht=scontent.fhan5-10.fna&oh=00_AfDT9vrP7q0Ufw5WBia5ubCv9vw5xCUsFFvHE4DxWPv7fA&oe=658868F8" />
            </div>
            <div class="flex-grow-1 d-flex flex-column">
              <span class="block-20__person-rating">
                {{! <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> }}
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
              </span>
              <span class="block-20__person-name my-1">Web Developer</span>
              <span class="block-20__person-info">hvuits.me@gmail.com</span>
            </div>
          </div>
          <span class="testimonial-card-1__quote-symbol">
            <i class="fas fa-quote-left"></i>
          </span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-card-1 mb-5">
          <p class="testimonial-card-1__paragraph mb-3">
            "Không gì so sánh được với sản phẩm này! Hiệu suất xuất sắc và thiết kế thông minh. Mỗi khoản đầu tư đều
            đáng giá khiến tôi cảm thấy hài lòng và tự tin về sự chọn lựa của mình."
          </p>
          <div class="block-20__person">
            <div class="mb-2">
              <img class="block-20__person-avatar"
                src="https://scontent.fhan5-6.fna.fbcdn.net/v/t39.30808-6/411178469_122139840488066707_3005982499028020052_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=c42490&_nc_eui2=AeGFLSfPbY7onCh8U8vTfqgCyBm5eYZwUtzIGbl5hnBS3JW4FuMD0dDcmoyiKSWZnEkFsm7QJAd6Kx9NNUWxCotK&_nc_ohc=ZJBbhoLzPt0AX-w-5Mm&_nc_ht=scontent.fhan5-6.fna&oh=00_AfDOjfZwiREmT2TgWht_SUUw3YgROd2Zt7u-3XOzyHRtOw&oe=6589A039" />
            </div>
            <div class="flex-grow-1 d-flex flex-column">
              <span class="block-20__person-rating">
                {{! <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> }}
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
              </span>
              <span class="block-20__person-name my-1">AAM Boxer</span>
              <span class="block-20__person-info">Abubakramanat17gmail.com</span>
            </div>
          </div>
          <span class="testimonial-card-1__quote-symbol">
            <i class="fas fa-quote-left"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="row px-2 pt-4 d-flex justify-content-center">
      <div class="col-lg-4">
        <div class="testimonial-card-1 mb-5">
          <p class="testimonial-card-1__paragraph mb-3">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry’s standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen.
          </p>
          <div class="block-20__person">
            <div class="mb-2">
              <img class="block-20__person-avatar"
                src="https://scontent.fhan5-10.fna.fbcdn.net/v/t39.30808-6/411183393_122139840548066707_2619020305144305430_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=c42490&_nc_eui2=AeE6gboWeGKyPWedYhm8ZLIKJmDYkKVsfEEmYNiQpWx8QT8mzx4s63m55a6z4slb-wNo8cS7GlpQOPznVPtN9VWG&_nc_ohc=Ky_1kfBLIIoAX8YOzCI&_nc_ht=scontent.fhan5-10.fna&oh=00_AfDMXMEdu6CtGYh8v7CK2EDKP7SpJuWyWDBh4g1IrYcf5A&oe=6588203F" />
            </div>
            <div class="flex-grow-1 d-flex flex-column">
              <span class="block-20__person-rating">
                {{! <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> }}
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
              </span>
              <span class="block-20__person-name my-1">Tester</span>
              <span class="block-20__person-info">Abdullahamanat17gmail.com</span>
            </div>
          </div>
          <span class="testimonial-card-1__quote-symbol">
            <i class="fas fa-quote-left"></i>
          </span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-card-1 mb-5">
          <p class="testimonial-card-1__paragraph mb-3">
            "Sản phẩm này là điểm nhấn trong cuộc sống hàng ngày của tôi! Khả năng hoạt động xuất sắc và tính năng đáng
            kinh ngạc. Tôi thực sự hạnh phúc với quyết định mua của mình và sẽ giới thiệu nó cho mọi người."
          </p>
          <div class="block-20__person">
            <div class="mb-2">
              <img class="block-20__person-avatar"
                src="https://scontent.fhan5-11.fna.fbcdn.net/v/t39.30808-6/411189114_122139840596066707_208476042734966863_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=c42490&_nc_eui2=AeF1JcFGTZ1EraCV6D6jL8klyoOJcXXIw3nKg4lxdcjDeZGv9aZN3o1d6vX_BttiTtc6AXpdowpqjte7OMDUeXIC&_nc_ohc=hJOUHQVht0cAX-RgmDW&_nc_ht=scontent.fhan5-11.fna&oh=00_AfATpZcf89VWp-Ea6By88klTEX9ugFsLrShb-4JWkLlseQ&oe=6589AAC4" />
            </div>
            <div class="flex-grow-1 d-flex flex-column">
              <span class="block-20__person-rating">
                {{! <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> }}
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
                <i class="fas fa-star star-bright"></i>
              </span>
              <span class="block-20__person-name my-1">Advertiser</span>
              <span class="block-20__person-info">Bilalamanat17gmail.com</span>
            </div>
          </div>
          <span class="testimonial-card-1__quote-symbol">
            <i class="fas fa-quote-left"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- =================================== -->

<div id="pricing" class="block-17 px-4 space-between-blocks">
  <div class="container">
    <div class="block-17__header col-lg-8 col-xl-7 mx-auto text-center px-0">
      <h1 class="block__title mb-3">GIÁ</h1>
      <p class="block__paragraph">
        "Giá của chúng tôi là hợp lý và phản ánh đúng giá trị của sản phẩm. Chúng tôi cam kết mang lại sự hài lòng với
        mỗi khoản đầu tư của bạn."
      </p>
    </div>
    <div class="block-17__card row flex-column-reverse flex-lg-row justify-content-center">
      <div class="testimonial-card-3 text-center col-lg-6 px-0 d-flex align-items-center justify-content-center">
        <div class="px-4 px-lg-5">
          <img class="person__avatar" src="/img/profile-5.jpg" />
          <p class="testimonial-card-3__paragraph my-4">
            "Sản phẩm chất lượng cao với giá hấp dẫn. Một lựa chọn tuyệt vời cho người tiêu dùng thông minh giữa hiệu
            suất và giá trị."
          </p>
          <div class="flex-grow-1 d-flex flex-column mb-3">
            <span class="person__rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
          </div>
        </div>
        <span class="testimonial-card-3__quote-symbol">
          <i class="fas fa-quote-left"></i>
        </span>
      </div>
      <div class="cta-card col-lg-5 px-0">
        <div class="plan-card text-center">
          <h6 class="plan-card__name mb-0">Miễn phí vận chuyển</h6>
          <p class="discount mt-3 mb-0 d-flex align-items-center justify-content-center">
            <span class="discount__old-price mx-2">$300</span>
            <span class="discount__percentage mx-2">50% off</span>
          </p>
          <p class="plan-card__price my-2">$149</p>
          <span class="plan-card__duration">Đảm bảo hoàn tiền trong 90 ngày</span>
          <ul class="plan-features list-unstyled mt-5 mb-0">
            <li class="plan-features__li">
              <span class="plan-features__li-icon mx-1">
                <svg class="bi bi-check2-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                  <path fill-rule="evenodd"
                    d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
                </svg>
              </span>
              <span class="mx-3">+ Chiếc đồng hồ</span>
            </li>
            <li class="plan-features__li">
              <span class="plan-features__li-icon mx-1">
                <svg class="bi bi-check2-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                  <path fill-rule="evenodd"
                    d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
                </svg>
              </span>
              <span class="mx-3">+ Phần thưởng: Phụ kiện</span>
            </li>
            <li class="plan-features__li">
              <span class="plan-features__li-icon mx-1">
                <svg class="bi bi-check2-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                  <path fill-rule="evenodd"
                    d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
                </svg>
              </span>
              <span class="mx-3">+ Ứng dụng di động trọn đời</span>
            </li>
            <li class="mt-5">
              <a href="#" class="d-block btn btn-primary px-5 mx-auto">
                Buy Now
              </a>
              <small class="d-block mt-2 text-center">208 còn lại. Giảm giá kết thúc sau 2 tuần</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- =================================== -->

<div id="contact-us" class="block-28 space-between-blocks border-top border-bottom">
  <div class="container">
    <div class="row h-100">
      <div class="col-lg-6 h-100 block-28__content-side">
        <div class="contact-info">
          <h5 class="contact-info__title mb-3">Liên lạc</h5>
          <p class="contact-info__paragraph mb-5">
            "Liên lạc dễ dàng và nhanh chóng với sản phẩm của chúng tôi. Thiết kế tiện ích và các tùy chọn kết nối đa
            dạng đảm bảo bạn luôn giữ liên lạc hiệu quả."
          </p>
          <div class="mb-5">
            <h6 class="contact-info__title-2 mb-3">HỢP TÁC</h6>
            <p class="d-flex flex-column">
              <span class="contact-info__item mb-2">dongho@example.com</span>
              <span class="contact-info__item">Fax: (+84) 942476740</span>
            </p>
          </div>
          <div class="mb-5">
            <h6 class="contact-info__title-2 mb-3">HỢP TÁC</h6>
            <p class="d-flex flex-column">
              <span class="contact-info__item mb-2">
                <i class="fas fa-phone"></i><span class="mx-2">thongminh@example.com</span>
              </span>
              <span class="contact-info__item">
                <i class="fas fa-envelope"></i><span class="mx-2">Fax: (+84)
                  91234476740</span>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 h-100 block-28__form-side">
        <form onsubmit="submitContactForm(event)" class="contact-form text-center">
          <div class="contact-form__header mb-5">
            <h6 class="contact-form__title mb-3">Liên hệ chúng tôi</h6>
          </div>
          <input type="text" class="contact-form__input" placeholder="Họ và tên" />
          <input type="email" class="contact-form__input" placeholder="Email" />
          <textarea class="contact-form__input" placeholder="Tin nhắn"></textarea>
          <button class="btn btn-primary w-100">GỬI TIN NHẮN</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- =================================== -->

<div class="block-32 space-between-blocks">
  <div class="container">
    <!-- HEADER -->
    <div class="col-lg-8 col-xl-7 mx-auto text-center mb-5">
      <h1 class="block__title mb-3">Mua ngay, Tiết kiệm lên đến 50%</h1>
      <p class="block__paragraph mb-0">
        "Mua ngay để nhận ưu đãi đặc biệt, tiết kiệm lên đến 50%! Cơ hội có hạn, hãy nhanh tay sở hữu sản phẩm với giá ưu đãi."
      </p>
    </div>
    <div class="text-center">
      <a href="#" class="btn btn-primary">Mua Ngay</a>
    </div>
  </div>
</div>

<!-- =================================== -->